@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900');

html {
    width: 100%;
    font-size: 100%;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    padding: .1em;

    display: flex;
    flex-direction: column;

    font-size: 100%;

    line-height: normal;
}

b {
    font-weight: 300;
}

.web {
    display: none;
}

#notebook-container.container {
    margin: 0;
    width: 100%;

    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

#notebook.border-box-sizing {
    display: flex;
    flex: 1 0 auto;
    /* padding: .1em; */

    z-index: -1;
}


.rendered_html h1 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: .1em;
}

.rendered_html h2 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: .1em;
    font-style: italic;
}

.rendered_html h3 {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    margin: 0;
    padding: .1em;
}



.rendered_html h3 {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    margin: 0;
    padding: .1em;
    
    text-align: left;
}

/* .text_cell_render .border-box-sizing .rendered_html {
    text-align: left;
    display: block;
} */



/* div.cell.border-box-sizing.text_cell.rendered {
    font-size: 1em;
} */

div#notebook {
    font-size: 1em;
}


header {
    width: 100%;
    margin-top: 4em;
    z-index: 3;
}

header b {
    font-weight: 300;
}

.top {
    width: 100%;
    font-size: 4em;
    text-transform: uppercase;
    margin: 0;

    /* border-bottom: 1px solid black; */
    -webkit-box-shadow: 0 5px 6px -6px black;
       -moz-box-shadow: 0 5px 6px -6px black;
            box-shadow: 0 5px 6px -6px black;

    text-align: center;
    font-weight: 100;

}

.top img {
    width: 70px;
    vertical-align: bottom;
}

nav ul {
    list-style: none;
    margin: 0 0 .5em 0;
    padding: .1em;

    font-size: 1.5em;

    display: flex;
    justify-content: center;
}

nav li {
    margin-top: .5em;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin: 0em .5em 0 .5em;
}

nav a:hover, nav a:active {
    font-weight: 300;
    color: black;
    text-decoration: none;
}

.current {
    border-bottom: 2px dotted black;
}

footer {
    flex-shrink: 0;
    padding: .5em;

    display: flex;
    justify-content: center;
    align-items: center;
    /* -webkit-box-shadow: inset 0px 5px 6px -6px black;
       -moz-box-shadow: inset 0px 5px 6px -6px black;
            box-shadow: inset 0px 5px 6px -6px black; */

    -webkit-box-shadow: 0px -5px 6px -6px rgba(0,0,0,0.68);
       -moz-box-shadow: 0px -5px 6px -6px rgba(0,0,0,0.68);
            box-shadow: 0px -5px 6px -6px rgba(0,0,0,0.68);

}

footer img {
    margin: 0 1em 0 1em;
    width: 2em;
    vertical-align: middle;
}

.foot-block {
    width: 32%;
    font-size: .75em;
    text-align: center;
}

footer a {
    text-decoration: none;
}

#foot-block-left {
    text-align: left;
}

#foot-block-right {
    text-align: right;
}


/* Adjust for web ---------------------------------------------------------- */

@media only screen and (min-width: 800px) {

    .mobile {
        display: none;
    }
   
    .web {
        display: inherit;
    }

    .container img {
        /* width: 15em; */
        margin-left: 2em;
    }

    #about {
        flex-direction: row;
    }

    .p-container {
        margin: 0;
    }

}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: .5em;

    flex: 1 0 auto;

    z-index: 1;
}

.bottom-nav {
    text-align: center;
    margin-bottom: 2em;
}

.bottom-nav a{
    color: #E2CA32;
    text-decoration: underline;
    text-transform: uppercase;
}

.bottom-nav span.black-text {
    color: black;
}